@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color:  #73a7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#gamename {
    font-size: xx-large;
    font-family: "Poppins";
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    color: white;
}

.rpsbutton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.rpsbutton {
    height: 100px;
    margin: 10px;
    transition: transform 0.2s ease;
}

#score {
    font-size: medium;
    font-family: "Poppins";
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}